@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply text-white px-[30px] py-[8px] rounded-3xl bg-primary cursor-pointer hover:opacity-70 transition-all disabled:opacity-50 disabled:cursor-not-allowed;
}

.slick-dots {
  @apply !flex justify-start w-full;
}
.slick-dots li {
  @apply !m-0;
}

.slick-dots .slick-active div {
  @apply bg-primary scale-150;
}
.slick-dots div {
  @apply !m-5;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75); /* Siyah arkaplan */
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 999; /* Modalın üzerinde olmasını sağlar */
}

.video-container {
  position: relative;
  width: 100%;
  height: 400px; /* Video yüksekliği */
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%; /* Modal genişliği */
  max-width: 2000px; /* Maksimum modal genişliği */
  height: 80%; /* Modal yüksekliğini yüzde olarak ayarlar */
  max-height: 70vh; /* Maksimum modal yüksekliği */
  border: 1px solid orange; /* Modal çerçeve rengi */
  border-radius: 8px; /* Modal çerçeve köşe yuvarlama */
  outline: none; /* Modal odaklandığında çerçeve rengini kaldırır */
  background-color: white; /* Modal arka plan rengi */
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Modal arka planı rengi (şeffaf siyah) */
}

.background-image {
  z-index: 0; /* Arka planda */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.icon-container {
  position: absolute;
  top: 45%; /* Yükseklik 50%'den 55%'e çıkarıldı */
  left: 5%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: pulse 2s infinite; /* Yanıp sönme animasyonu eklendi */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.home-icon {
  width: 280px;
  height: 100px;
  fill: darkorange;
  transition: fill 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.icon-container:hover .home-icon {
  fill: darkorange;
}

.icon-container.clicked .home-icon {
  transform: scale(0);
  opacity: 0;
}
